*{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
ul,ol,li{
  list-style: none;
}
.token.selector,.token.property,.token.function,.token.comment{
  color:black;
}
#styleCode,#resumeScreen{
  height: 90vh;
  width:49vw;
}
#paper>pre{
  padding:16px;
}
#resumeScreen{
  overflow:auto;
  transform: translate3d(0px, 0px, -56.5px) rotateX(0deg) rotateY(-10deg);
  padding: 45px;
}